  <!-- Grid container -->
  <footer class="footer-print p-2 icons-nav">
      <!-- SearchBar -->

        <span class="iconify" data-icon="cil:search" style="color: #699bf7;" data-width="30" data-height="30"></span>


      <!-- Chat -->

        <span class="iconify" data-icon="octicon:feed-discussion-16" style="color: #699bf7;" data-width="30" data-height="30"></span>



      <!-- Home -->

        <span class="iconify" data-icon="gis:cube-3d" style="color: #699bf7;" data-width="30" data-height="30"></span>


      <!-- Profile -->

      <span class="iconify" data-icon="ic:outline-supervisor-account" style="color: #699bf7;" data-width="30" data-height="30"></span>

  </footer>
