<!-- Grid container -->
<footer class="footer-print icons-nav">
  <!-- SearchBar -->
    <a  href="/" class="btn btn-primary social-btn" style="background-color: #ceddef; border:none">
      <i class="iconify" data-icon="cil:search" style="color: #699bf7;" data-width="30" data-height="30"></i>
    </a>



  <!-- Chat -->
    <a  href="/chat" class="btn btn-primary social-btn" style="background-color: #ceddef; border:none">
      <i class="iconify" data-icon="octicon:feed-discussion-16" style="color: #699bf7;" data-width="30" data-height="30"></i>
    </a>


  <!-- Map -->
    <a  href="/users" class="btn btn-primary social-btn" style="background-color: #ceddef; border:none">
      <i class="iconify" data-icon="gis:cube-3d" style="color: #699bf7;" data-width="30" data-height="30"></i>
    </a>



  <!-- Profile -->
    <a  href="/profile" class="btn btn-primary social-btn" style="background-color: #ceddef; border:none">
      <i class="iconify" data-icon="ic:outline-supervisor-account" style="color: #699bf7;" data-width="30" data-height="30"></i>
    </a>
    
</footer>
