<div class="window-container">
  <h2><%= user_demand.first_name %></h2>
  <p><%= user_demand.address %></p>
  <p><%=user_demand.printer ? "I'm a printer 😎" : "I want YOU to print my items 💪"  %> </p>
</div>
