

<h1>offers for a given demand</h1>
<div class="container">
<p><% @offers.each do |offer| %> </p>
<%= "Produit:#{offer.demand.product.name}" %>
<%= "Prix: #{offer.price}€" %>
<% end %>
</div>

Would you like to leave a review for <%= offer.demand.client.first_name %> <%= offer.demand.client. %>
