.footer-print {
  bottom: 0;
  position: fixed;
  // position: sticky;
  background-color: #ceddef;
  border-radius: 4px 4px 0px 0px;
  min-width: 100vw;
  display: flex;
  padding: 5px 0px;
  padding-bottom: 15px;
}

.icons-nav {
  align-items: center;
  justify-content: space-around;
}

.active {
  color: red;
}

.tabs:active {
  color: red;
}

.tabs {
  color: #699bf7;
}
