.footer-print {
  bottom: 0;
  position: fixed;
  background-color: #ceddef;
  border-radius: 4px;
  min-width: 100vw;
  display: flex;
}

.icons-nav {
  align-items: center;
  justify-content: space-around;
}
