.map-card{
  border-color: rgb(217, 202, 205);
  padding-bottom: 4vh;
  border-bottom-style: solid;
  border-width: 0.1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.map-card div{
  border-radius: 16px;
}

mapboxgl-popup {
  max-width: 60px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
