.map-card{
  border-color: rgb(217, 202, 205);
  padding-bottom: 4vh;
  border-bottom-style: solid;
  border-width: 0.1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.map-card div{
  border-radius: 16px;
}

.mapboxgl-popup {
  max-width: 60px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.marker-nico {
  background-image: url('apple-icon.png');
  color: red;
  background-color: red;
  border: 1px solid blue;
  background-size: cover;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
}

.marker {

  background-image: url('apple-icon.png');
  color: blue;
  background-color: blue;
  border: 1px solid red;
  background-size: cover;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
}
