.nav-client {
  background-color: #ffffff;
  vertical-align: middle;
  text-align: center;
}

.img-logo {
  height: 7vh;
}


.img-logo-printer {
  background-color: #070d59;
}

.nav-client-printer {
  background-color: #070d59;
  vertical-align: middle;
  text-align: center;
}
