.wrapper {
  padding: 0 10px
}

.user-wrapper {
  span {
    color: #070d59;
  }
  p {
    color: #070d59;
  }
}

.user-wrapper {
  border: 2px solid $blue;
  border-radius: 12px;
  background-color: #CEDDEF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 85px;
}

.demand-card {
  border-radius: 10px;
  background: linear-gradient(rgb(222, 231, 249) 0%, rgb(203, 214, 250) 35%, rgb(164, 186, 251) 100%);
  display: flex;
  justify-content: space-between;
  border: 1px solid $blue;
  border-radius: 4px;
  margin-bottom: 8px;
  height: 130px;
  overflow: hidden;
}

.offer-card {
  border-radius: 10px;
  background: linear-gradient(rgb(118, 152, 197) 0%, rgb(68, 103, 167) 35%, rgb(7, 77, 152) 100%);
  box-shadow: 0 0 15px rgba(163, 189, 238, 0.2);
  display: flex;
  justify-content: space-between;
  border: 1px solid $blue;
  border-radius: 4px;
  color: #FFFFFF;
  margin-bottom: 8px;
  height: 130px;
  overflow: hidden;
}
.img-dmd {
  height: 100%;
  width: 115px;
  object-fit: cover;
}

.demand-infos {
  margin-right: 6px;
  padding-top: 12px;
  padding-left: 2px;
  width: 52%;
  font-size: small;
}

.offer-infos {
  margin-right: 6px;
  padding-top: 12px;
  padding-left: 2px;
  width: 52%;
  font-size: small;
}

.demand-card img {
  height: 100%;
  width: 150px;
  border-radius: 5px;
  object-fit: cover;
}

.offer-card img {
  height: 100%;
  width: 150px;
  border-radius: 5px;
  object-fit: cover;
}

.offers-wrapper {
  border-radius: 10px;
  background-color: $dark-blue;
}
.username-block {
  column-gap: 10px;
  padding-bottom: 16px;
  text-align: center;
}

.img-wrapper {
  height: 75px;
  width: 100%;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  .img-user {
    border: 1px solid $blue;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: -75px;
    object-fit: cover;
  }
}

.buttons-wrapper {
  display: flex;
  width: 100%;
  border-top: 2px solid $blue;
  .demands-count {
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid $blue;
  }

  .offers-count {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid $blue;
  }
}

h2 {
  margin-top: 16px;
}

.buttons-wrapper p {
  padding-top: 10px;
}

.devise-btn {
  border: 1px solid $blue;
  border-radius: 4px;
  background-color: #FFFFFF;
  text-decoration: none;
  padding: 4px;
}

.edit-user {
  margin-top: 6px;
  font-style: #000000;
  display: flex;
  justify-content: space-between;
}

.edit-user a {
  background-color: $light-blue;
  font-style: italic;
}

a {
  text-decoration: none;
  color: #000000;
}

#btn-here {
  margin-left: 34vw;
  margin-top: 10px;
}

.profile-demand-offer h3 {
  margin-top: 20px;
  text-decoration: underline;
}
