.wrapper {
  padding: 0 10px
}

.user-wrapper {
  border: 2px solid $blue;
  border-radius: 12px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 85px;
}

.demand-card {
  border-radius: 10px;
  background-color: #DBEEFF;
  display: flex;
  border: 1px solid $blue;
  border-radius: 4px;
  margin-bottom: 8px;
  padding-top: 12px;
}

.offer-card {
  border-radius: 10px;
  background-color: #1F3C88;
  display: flex;
  border: 1px solid $blue;
  border-radius: 4px;
  margin-bottom: 8px;
  padding-top: 12px;
  color: #FFFFFF;
}

.demand-infos {
  margin-right: 6px;
  padding-left: 2px;
  width: 52%;
}

.offer-infos {
  margin-right: 6px;
  padding-left: 2px;
  width: 52%;
}

.demand-card img {
  height: 100%;
  width: 150px;
  object-fit: cover;
}

.offer-card img {
  height: 100%;
  width: 150px;
  object-fit: cover;
}

.offers-wrapper {
  border-radius: 10px;
  background-color: #DBEEFF;
}
.username-block {
  display: flex;
  column-gap: 10px;
  padding-bottom: 16px;
}

.img-wrapper {
  height: 75px;
  width: 100%;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  .img-user {
    border: 1px solid $blue;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: -75px;
    object-fit: cover;
  }
}

.buttons-wrapper {
  display: flex;
  width: 100%;
  border-top: 2px solid $blue;
  .demands-count {
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid $blue;
  }

  .offers-count {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid $blue;
  }
}

h2 {
  margin-top: 16px;
}

.buttons-wrapper p {
  padding-top: 10px;
}

.devise-btn {
  border: 1px solid $blue;
  border-radius: 4px;
  background-color: #FFFFFF;
  text-decoration: none;
  padding: 4px;
}

.edit-user {
  margin-top: 6px;
  font-style: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}
