<div class="wrapper">
  <h1>Products</h1>

  <% @products.each do |product| %>
    <%= product.name %>
    <br>
    <%= product.description %>
    <br>
    <%= product.file3d %>
    <br>
  <% end %>
</div>
