<div class="nav-client">
  <%= link_to image_tag(("print3d.PNG"), :class => "img-logo"), root_path %>
</div>

<div class="product-container">
  <h1>Products</h1>

  <% @products.each do |product| %>
    <p>
      <%= product.name %>
      <%= product.description %><% product.file3d %>
      <br>
      <%= link_to "See more", product_path(product), class:"product-index-links"%>
    </p>
  <% end %>
</div>
