<div class="product-container">
  <h1>Products</h1>

  <% @products.each do |product| %>
    <p>
      <%= link_to "#{product.name}", product_path(product)  %>
      <%= product.description %><% product.file3d %>
      <i class="fa-solid fa-cubes"></i>
    </p>
  <% end %>
</div>
